<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <context-param>
        <param-name>db.config.name</param-name>
        <param-value>db_config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>db.max.idle</param-name>
        <param-value>30</param-value>
    </context-param>
    <context-param>
        <param-name>db.max.total</param-name>
        <param-value>1000</param-value>
    </context-param>
    <context-param>
        <param-name>tmp</param-name>
        <param-value>/tmp</param-value>
    </context-param>

    <listener>
        <listener-class>com.momo.servlet.listener.MFServletContextListener</listener-class>
    </listener>

    <filter>
        <filter-name>request.encoding.filter</filter-name>
        <filter-class>com.mf.util.servlet.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>request.encoding.filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>ProductionMultiQuery</servlet-name>
        <servlet-class>com.momo.servlet.chart.ProductionMultiQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamPCQuery</servlet-name>
        <servlet-class>com.momo.servlet.chart.TeamPCQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamPCLiveQuery</servlet-name>
        <servlet-class>com.momo.servlet.chart.TeamPCLiveQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamPCLiveSingleQuery</servlet-name>
        <servlet-class>com.momo.servlet.chart.TeamPCLiveSingleQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyReportQuery</servlet-name>
        <servlet-class>com.momo.servlet.chart.DailyReportQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdmin</servlet-name>
        <servlet-class>com.momo.servlet.user.UserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BreakdownAdd</servlet-name>
        <servlet-class>com.momo.servlet.chart.BreakdownAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiftManage</servlet-name>
        <servlet-class>com.momo.servlet.planout.ShiftManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanManage</servlet-name>
        <servlet-class>com.momo.servlet.planout.PlanManage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FailureQuery</servlet-name>
        <servlet-class>com.momo.servlet.chart.FailureQuery</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ProductionMultiQuery</servlet-name>
        <url-pattern>/queryProduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamPCQuery</servlet-name>
        <url-pattern>/queryTeamPC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamPCLiveQuery</servlet-name>
        <url-pattern>/queryTeamPCLive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamPCLiveSingleQuery</servlet-name>
        <url-pattern>/queryTeamPCLiveSingle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyReportQuery</servlet-name>
        <url-pattern>/queryDailyReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdmin</servlet-name>
        <url-pattern>/queryDomainUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BreakdownAdd</servlet-name>
        <url-pattern>/addBreakdown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiftManage</servlet-name>
        <url-pattern>/shiftManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanManage</servlet-name>
        <url-pattern>/planManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FailureQuery</servlet-name>
        <url-pattern>/failureQuery</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
            <default-content-type>text/html</default-content-type>
        </jsp-property-group>
    </jsp-config>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/vwedcc/errorPage.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/vwedcc/errorPage.html</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>/vwedcc/index.html</welcome-file>
    </welcome-file-list>
</web-app>